* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  max-width: 100%;
  overflow-x: hidden;
  z-index: 1;
  --footer-background: #dfbf00;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 6rem;
  margin-top: 100px;
}
.footer .content {
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  background: var(--footer-background);
  background-color: var(--footer-background);
}
.footer .content p {
  max-width: 80%;
  font-size: 1.2rem;
  margin: auto;
  font-weight: 600;
  color: #fff;
}
.footer .content p a {
  color: #000;
}
