@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  scroll-behavior: smooth;
  --premier-color: #e3c300;
  --secondary-color: #fff;
  --branch-color: #2a2e41;
  --transition-02: 0.2s;
}
::-webkit-scrollbar {
  width: 10px;
  background: #fff;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #dfbf00;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a2e41;
}
body {
  background-color: #eee;
}
/* ######### Global Style ######### */
.title-box {
  position: relative;
  margin: 20px auto;
  width: fit-content;
  font-size: 34px;
  text-transform: uppercase;
}
.title-box::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  text-align: center;
  background-color: var(--branch-color);
}
.title-box::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  text-align: center;
  background-color: var(--branch-color);
}
/* ######### Start Style Header ######### */
.header {
  position: relative;
  min-height: 100vh;
  background: url("../images/architect.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.header.mobile {
  background: url("../images/architect-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  transition: var(--transition-02);
}
.header .nav.scroll-down {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: var(--transition-02);

  background-color: var(--secondary-color);
}
.header .nav img {
  max-width: 300px;
}
.header .nav.open-nav {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.header .nav.open-nav nav {
  display: block;
  height: 100%;
  text-align: center;
}
.header .nav.open-nav ul {
  display: block;
}
.header .nav.open-nav ul li a,
.header .nav.open-nav ul li[class="lang"] {
  display: block;
  margin: 24px auto;
  padding: 12px;
  max-width: 200px;
  border-radius: 8px;
  background-color: var(--premier-color);
}
.header .nav.open-nav ul li[class="lang"] {
  display: flex;
  justify-content: center;
}
.header .nav.open-nav ul li a:hover {
  background-color: var(--branch-color);
  color: var(--secondary-color);
}
.header .nav.open-nav ul li a {
  color: #000;
}
.header .nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.header .nav ul li {
  margin: 0 12px;
}
.header .nav ul li a {
  padding: 16px 12px;
  color: var(--secondary-color);
  transition: var(--transition-02);
  font-size: 18px;
  font-weight: bold;
}
.header .nav ul li a:hover {
  color: #000;
}
.header .nav.scroll-down ul li a {
  color: var(--branch-color);
}
.header .nav.scroll-down ul li a:hover {
  color: var(--premier-color);
}
.header .nav ul li[class="lang"] {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  background-color: var(--secondary-color);
  border-radius: 6px;
  transition: var(--transition-02);
  cursor: pointer;
}
.header .nav.scroll-down ul li[class="lang"] {
  background-color: var(--branch-color);
  color: var(--secondary-color);
}
.header .nav ul li[class="lang"]:hover {
  background-color: var(--branch-color);
  color: var(--secondary-color);
}
.header .nav.scroll-down ul li[class="lang"]:hover {
  background-color: var(--premier-color);
  color: var(--branch-color);
}
.header .list-icon {
  display: none;
}
.header .nav.open-nav .list-icon {
  direction: rtl;
}
.header .nav.open-nav .list-icon i {
  font-size: 26px;
  padding: 8px 14px;
  border-radius: 6px;
  background-color: var(--branch-color);
  color: var(--secondary-color);
}
.header .list-icon i {
  font-size: 24px;
  cursor: pointer;
}
.header .nav ul li img {
  max-width: 35px;
  margin: 0 8px;
}
.header .btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 10px;
  border-radius: 12px 12px 0 0;
}

.header .btn i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--premier-color);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim-move 1s infinite;
  font-weight: bold;
  color: var(--secondary-color);
}
@keyframes anim-move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
/* ########## Style About ##########*/
.about {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: 0.5s;
}
.about .box {
  position: relative;
  max-width: 1000px;
  padding: 30px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
}
.about .box::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--premier-color);
  width: 40%;
  height: 30px;
  border-radius: 0 0 8px 8px;
  z-index: -1;
}
.about .box .info-job {
  max-width: 70%;
}
.about .box .info-job h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.about .box .info-job span {
  display: block;
  margin-top: 20px;
  width: fit-content;
  color: var(--secondary-color);
  letter-spacing: 1px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--branch-color);
}
.about .box .info-job ul {
  margin-top: 20px;
  padding: 0 20px;
}
.about .box .info-job ul li {
  line-height: 1.8;
  font-size: 18px;
}
.about .box .info-personal img {
  width: 200px;
  border-radius: 50%;
}
.about .box .info-personal > div {
  margin: 12px 0;
  display: flex;
  align-items: center;
}
.about .box .info-personal > div > i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--branch-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
/* ########## Style Languages ##########*/
.languages {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.languages .box .content {
  position: relative;
  padding: 30px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languages .box .content img {
  max-width: 700px;
  user-select: none;
}
.circular {
  position: relative;
  top: -80px;
  width: 100px;
  height: 100px;
  user-select: none;
}
.circular.ar,
.circular.en {
  animation: moveUp 4s infinite;
}
.circular.ar {
  left: 120px;
}
.circular.en {
  right: 130px;
}
.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: #dde6f0;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.circular .lang-ar,
.circular .lang-en {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
}
.circular .lang-ar span,
.circular .lang-en span {
  color: var(--premier-color);
  font-size: 14px;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--premier-color);
  border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background-color: #dfbf00;
}
.circle .right {
  z-index: 4;
  transform: rotate(180deg);
}
.circular.ar .circle .left .progress {
  z-index: 1;
  transform: rotate(180deg);
  background-color: var(--branch-color);
}
.circular.ar .circle .right .progress {
  transform: rotate(180deg);
  background-color: var(--branch-color);
}
.circular.en .circle .left .progress {
  transform: rotate(180deg);
  background-color: var(--branch-color);
}
.circular.en .circle .right .progress {
  transform: rotate(90deg);
  background-color: var(--branch-color);
}
@keyframes moveUp {
  0%,
  100% {
    transform: translateY(-30px);
    scale: 1.9;
  }
  50% {
    transform: translateY(0px);
  }
}
/* ########## Style Skills ##########*/
.skills {
  padding: 60px 0;
}
.skills .content {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills .content .card {
  width: calc(100% / 3 - 100px);
  padding: 20px;
  margin: 40px 30px;
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
  border-top: 10px solid #3157ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.skills .content .card img {
  width: 150px;
  margin: 20px 0;
}
.skills .content .card h3 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.skills .content .card .progress {
  position: relative;
  background-color: #dde6f0;
  height: 40px;
  margin: 20px 0 10px 0;
  border-radius: 6px;
  overflow: hidden;
}
.skills .content .card .progress::before {
  content: attr(data-progress);
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  display: block;
  width: 100%;
  height: inherit;
  background-color: #3157ff;
}
.skills .content .card:nth-child(2) {
  border-top: 10px solid #a72122;
}
.skills .content .card:nth-child(2) .progress::before {
  background-color: #a72122;
  width: 90%;
}
.skills .content .card:nth-child(3) {
  border-top: 10px solid #40b194;
}
.skills .content .card:nth-child(3) .progress::before {
  background-color: #40b194;
  width: 100%;
}
.skills .content .card:nth-child(4) {
  border-top: 10px solid #2f72bc;
}
.skills .content .card:nth-child(4) .progress::before {
  background-color: #2f72bc;
  width: 70%;
}
.skills .content .card:nth-child(5) {
  border-top: 10px solid #00897b;
}
.skills .content .card:nth-child(5) .progress::before {
  background-color: #00897b;
  width: 50%;
}
.skills .content .card:nth-child(6) {
  border-top: 10px solid #40758b;
}
.skills .content .card:nth-child(6) .progress::before {
  background-color: #40758b;
  width: 60%;
}
