/* ############# For Header ############# */
@media (max-width: 1280px) {
  .header .nav {
    background-color: var(--secondary-color);
  }
  .header .nav nav {
    display: none;
  }
  .header .list-icon {
    display: block;
  }
}
@media (max-width: 500px) {
  .header {
    background-size: cover;
  }
  .header .nav {
    padding: 20px;
  }
  .header .nav img {
    width: 200px;
  }
  .header .btn {
    width: 250px;
  }
}
/* ############# For About ############# */
@media (max-width: 780px) {
  .about .box {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about .box .info-job {
    max-width: 100%;
    text-align: left;
  }
}
/* ############# For Languages ############# */
@media (max-width: 850px) {
  .languages .box .content {
    scale: 0.8;
  }
}
@media (max-width: 750px) {
  .languages .box .content {
    display: block;
  }
  .languages .box .content img {
    display: none;
  }
  .circular.ar,
  .circular.en {
    left: unset;
    right: unset;
    top: unset;
    animation: none;
    scale: 2.2;
    margin-left: 25px;
    margin-top: 250px;
  }
  .circular:first-child {
    margin-top: 20px;
  }
  .circular.ar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 5px;
    height: 200px;
    background-color: var(--branch-color);
  }
}
/* ############# For Skills ############# */
@media (max-width: 1150px) {
  .skills .content .card {
    width: calc(100% / 2 - 100px);
  }
}
@media (max-width: 750px) {
  .skills .content .card {
    width: calc(100% - 70px);
  }
}
